body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(156, 192, 174);
    margin: 20px;
}

#wrapper {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0px; 
    text-align: center;
}

.nav {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(156, 192, 174);
    font-size: small;
}

.nav a:hover {
    color: gold;
}

footer {
    text-align: center;
    background-color: rgb(156, 192, 174);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1050px;

}

.info {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3 {
    text-align: left;
    padding-left: 30px;
}

li {
    list-style-type: none;
    text-align: left;
    padding-left: 30px;
}

#welcome {
    font-size: small;
    font-style: italic;
    color: rgb(156, 192, 174);
}